.boxss{
    padding: 10%;
}
.colorrr{
    background-color: #cac8c8;
}

.list7{
    display: inline;
    list-style: none;



}
.list8{
    display: inline;
    margin-left: 14%;
}
.topm{
    margin-top: 6%;
}
.color{
    background-color: aqua;
}
.orderc{
    background-color: antiquewhite;
    border-radius: 2%;
}
.padding7{
    padding: 1%;
}
